@page "/blocks"

<!-- TODO: Add using and inject statements -->

<h3>Blocks</h3>

@if (blocklist == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="card-columns">

        <!-- TODO: Add cards for each block in the block list

                   Each card should show:
                        - the position in the chain (starting at 0)
                        - the hash
                        - the nonce
                        - the previous hash
          -->

    </div>
}

@code {
    IEnumerable<Block> blocklist;

    protected override async Task OnInitializedAsync()
    {
        // TODO: fetch blocks from the BlockService
    }
}
